@font-face {
    font-family: Sora;
    src: url(/assets/font/sora/Sora-Bold.ttf);
}

@font-face {
    font-family: Sora-regular;
    src: url(/assets/font/sora/Sora-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/assets/font/inter/Inter-Regular.otf);
}
/*toast*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.showToast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*toast end*/
.container {
    max-width: 1440px;
    padding-left: 148px;
    padding-right: 148px;
}

.my-header {
    padding-left: 0px;
    padding-right: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Sora";
}

footer {
    margin-top: auto;
}

/*******************Header********************/
.logo-wrapper {
    width: 20%;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.header-main-ceda {
    padding: 1rem 8rem 1rem 8rem !important;
    align-items: center;
    width: 100%;
    position: fixed;
}

.login-account {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: black;
    color: white !important;
    text-decoration: none;
    font-family: Inter;
}

.nav-ceda, a.nav-ceda {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 93.1%;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

.nav-ceda:hover, a.nav-ceda:hover {
    font-weight: 500;
    color: #000000;
}

.collapse-wrapper {
    width: 80%;
}

.navbar-wrapper {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
}

.nav-item-ceda {
    padding: 0px 20px;
}

/***************Footer**************/
.main-footer {
    background: #000000;
    margin-top: 0px;
    padding: 170px 0px 170px 0px;
}

a.footer-nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 93.1%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

/**********Hero Section***********/
.hero-section {
    background: #FFFFFF;
    background-image: url(/assets/images/ceda-girl.png);
    background-repeat: no-repeat;
    background-position: 93%;
    background-size: auto 90%;
}

.hero-image {
    display: none;
}

.hero-heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #000000;
}

.hero-content {
    padding-top: 100px;
}

.hero-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 139.6%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 32px;
}

.hero-about {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20.02px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 48px;
}

.hero-login a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.9549px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    margin-top: 32px;
}
.hero-login a img {
    margin-left: 8.5px;
}

a.btn.btn-get-start-cta {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    height: 64px;
    border-radius: 5.65162px;
}
.join-ceda {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.btn.btn-get-hiw-cta {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    width: 49%;
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    height: 64px;
    border: 1.41291px solid #000000;
    box-sizing: border-box;
    border-radius: 5.65162px;
}
.digital-service-section {
    background: #FBF9FC;
    padding: 70px 0px;
    background-image: url(/assets/images/digital-service.png);
    background-repeat: no-repeat;
    background-position: 15%;
    background-size: auto 78%;
}

.digital-services-image {
    display: none;
}

.hero-login {
    margin-bottom: 0px;
}

.section-heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    align-items: center;
    color: #000000;
}

.section-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    color: #000000;
}

.currency-exchange-row {
    display: flex;
    align-items: center;
}

.section-sub-heading {
    padding-left: 45px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color: #000000;
    position: relative;
}

.currency-exchange-image {

    display: none;
}

.currency-exchange-section {
    padding: 140px 0px;
    background-image: url(/assets/images/IconBusiness.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: auto 68%;
}

.currency-image-wrapper {
    text-align: right;
}

.section-sub-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    color: #000000;
    padding-left: 45px;
}

h3.section-sub-heading::before {
    content: "";
    background-image: url(/assets/images/mdi_finance.png);
    width: 25px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
    top: 0px;
}

img.section-image {
    width: 100%;
    height: auto;
}

/********************/
/****************Login Page*****************/
.login-service-section {
    /*width: 1440px;*/
}

.left-col {
    background-color: #E1E3E4;
    height: 220vh;
    padding: 195px 0px;
}

.right-col {
    background-color: #FFFFFF;
    /*height: 100vh;*/
    padding: 118px 0px;
}

.form-page-logo {
    width: 158.46px;
    height: 43px;
}
.show{
    cursor: pointer;
    display:none;
}
.hide{
    cursor: pointer;
}
.left-col .inner-col {
    padding-left: 90px;
    padding-right: 90px;
}

.left-content {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 139.6%;
    color: #000000;
    margin-top: 16px;
}

.left-content-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 16px;
}
.hl-178{
    height: 178vh !important;
}
h2.form-heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #000000;
}

#reg-form {
    margin-top: 50px;
}

p.contact-form-sub-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 16px;
}
.right-form {
    margin-top: 40px;
}
.right-col .inner-col {
    padding-left: 115px;
    padding-right: 115px;
}

.input-login {
    padding: 16px;
    /*width: 221px;*/
    height: 50px !important;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 143.5%;
    color: #919191;
    font-family: 'Inter';

}
.mb-0{
    margin-bottom: 0 !important;
}
.input-login-bellow{
    font-family: 'Inter';
    padding: 16px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 143.5%;
    color: #919191;
}
.input-wrapper {
    padding: 0;
    margin-top: 24px
}

.pass-wrapper {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    padding-left: 13px;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent !important;
}
.iti__selected-flag {
    padding: 0 6px 0 0px !important;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100% !important;
    padding-left: 10px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pl-0{
    padding-left: 0px;
}
.input-group-addon {
    padding-right: 10px;
}
.mt-24{
    margin-top:24px !important;
}
.hl-150{
    height: 150vh !important;
}
.mt-13{
    margin-top: 13px !important;
}
.p-0{
    padding: 0;
}
.ht-50{
    height: 50px;
}
.line {
    color: #909090;
}
.login-pass {
    border: 0px !important;
}
.col-md-7.right-col.others.micro {
    background-color: #FFFFFF;
    /* height: 100vh; */
    padding: 211px 0px;
}
.name-wrapper{
    width: 100%;
}
.name-col{
    padding: 0;
    width: 100%;
}
i {
    color: black
}

.form-labels {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 143.5%;
    color: #000000;
}

.forgot-pass {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    margin-top: 16px;
}

.forgot-password-login {
    color: #000000;
    text-decoration: none;
}

button.btn-submit {
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 71px;
    cursor:pointer;
}

.register-redirect {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    margin-top: 24px;
    text-align: center;
}
.acc-type {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
}
.bellow-content-wrapper {
    margin-top: 47px;
}
.type-name {
    display: flex;
    align-items: center;
    margin-top: 19.5px;
}

.checkbox-type {
    box-sizing: border-box;
    margin-right: 17px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #909090;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-type:checked{
    background: #000000;
    padding:1px;
}
.type-actual {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
}
.bellow-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #000000;
}
.mt-24{
    margin-top: 24px;
}
.col-md-7.right-col.others {
    background-color: #FFFFFF;
    /* height: 100vh; */
    padding: 198px 0px;
}
/*********************************/


/**************sidebar*************/
.ceda-wrapper {
    padding-left: 0;
    padding-right: 0;
}
.sidebar-wrapper {
    min-height: 100%;
    padding-top: 58px;
    padding-left: 20px;
    padding-right: 20px;

}
.w100{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.sidebar-header {
    padding-bottom: 126px;
}
.sidebar-nav {
    display: flex;
    align-items: center;
    padding: 12px;
}
.sidebar-title-active {
    font-family: Sora;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 0px 0px 0px 21px;
    /* width: 93%;*/
}
.sidebar-title {
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #949494;
    margin: 0px  0px 0px 21px;
    /*width: 93%;*/
}
.selected {
    background: #F0F1F3;
}
.nav-li {
    margin-top: 16px;
}
.nav-icons {
    /*width: 7%;*/
    text-align: center;
    width: 20px;
    height: 20px;
}
.coming-soon {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #7F91B9;
    background: #EBEEF4;
    border-radius: 39px;
    margin-left: 20px;
}
/***********Home**********/
.content-wrapper.bottom-content {
    padding-top: 50px;
}
.user-name {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}
/********Right Content***********/
.content-wrapper {
    padding: 58px 116px 22px 116px;
}
.bg-right{
    background:#F0F1F3;
}
.border-header {
    border-bottom: 1px solid #DDDDDD;
}
.welcome {
    font-family: Sora-regular;
}
.ceda-rate {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-top: 32px;
}
.rate-wrapper {
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
}
.rate-row {
    background: #F0F1F3;
    box-sizing: border-box;
    padding: 17px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-item-right {
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 13.6241px;
    line-height: 16px;
    color: #000000;
}
.row-item-left {
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 13.6241px;
    line-height: 16px;
    color: #000000;
}
.rate-row-td {
    box-sizing: border-box;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-item-left-td {
    font-family: 'Sora-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 13.6241px;
    line-height: 16px;
    color: #000000;
}
.row-item-right-td {
    font-family: 'Sora-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 13.6241px;
    line-height: 16px;
    color: #000000;
}
.bb-dd{
    border-bottom: 1px solid #DDDDDD;

}
.convert-local-currency {
    margin-top: 16px;
    background-color: #ffffff;
    padding: 49px 65px 27px 65px;
}
.convert-local-currency {
    margin-top: 16px;
    background-color: #ffffff;
    padding: 49px 65px 27px 65px;
}
.currency {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    background: #F8F8F9;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 12px;
}
.upper-covert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-from {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}
.trans-btn {
    margin-top: 24px;
    padding: 15px;
    height: 50px;
    background: #000000;
    color: #ffffff;
    width: 276px;
    border-radius: 4px;
    font-family: Sora;
}

.trans-btn-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*********Privacy*********/
.hero-title {
    background: #FBF9FC;
    text-align: center;
    padding: 189px 0;
}
.page-title {
    font-family: Sora;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    margin: 0;
    line-height: 56px;
    color: #000000;
}
section.ceda-content-wrapper {
    margin: 144px 0;
}
.content-title {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #000000;
}
p.content-detail {
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 139.6%;
    color: #000000;
}
.content-section {
    margin-bottom: 21px;
}
.table-borderless .bl {
    border: 0 !important;
}
.table-borderless .blt {
    border-top: 0 !important;
}
.blt {
    font-family: 'Sora-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95A0B6;
}
td.bl {
    font-family: 'Sora-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.convert-local-currency.pd-table {
    padding: 34px 38px;
    margin-bottom: 102px;
}
.successful {
    background: #E0FFE2;
    border-radius: 39px;
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #009F06;
    padding: 4px 6px;
}
.failed {
    background: #FEEBEB;
    border-radius: 39px;
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #F70F0F;
    padding: 4px 6px;
}
.pending {
    background: #ECEFF3;
    border-radius: 39px;
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #929CAF;
    padding: 4px 6px;
}
th.bl {
    font-family: Sora-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.time-text {
    font-family: 'Sora-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #97A5BF;
}

/**********Setting********8*/
.setting-wrapper {
    padding: 65px 200px 65px 85px;
    background-color: #ffffff;
}
.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 143.5%;
    align-items: center;
    text-transform: uppercase;
    color: #949494;
    margin-bottom: 0;
}
.info-wrapper {
    margin-top: 16px;
    margin-bottom: 40px;
}
.info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
}
.info-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #949494;
    margin: 4px 0 0 0;
}
.edit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: #F0F1F3;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 86px;
    height: 32px;
}
.change {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.mt16{
    margin-top:16px
}
.mt40{
    margin-top:40px
}
.action-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}
.action-sub {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #8C8C8C;
    margin: 4px 0 0 0;
}
.security{
    width: 145px;
    height: 32px;
}
.info-detail-text {
    width: 60%;
}
.status {
    /*width: 30%;*/
}
.twofactor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.disabled {
    padding: 3px 4px;
    height: 20px;
    background: #F9DDDD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 143.5%;
    display: flex;
    width: 51px;
    align-items: center;
    color: #FF1C1C;
}
/*!* toggle in label designing *!
.toggle {
    position : relative ;
    display : inline-block;
    width: 20px;
    height: 12px;
    background-color: #F0F1F3;
    border-radius: 30px;
    border: 2px solid #000000;
    margin: 0;
}

!* After slide changes *!
.toggle:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    top: 1px;
    left: 1px;
    transition: all 0.5s;

}

!* Checkbox checked effect *!
.checkbox:checked + .toggle::after {
    left : 10px;

}

!* Checkbox checked toggle label bg color *!
.checkbox:checked + .toggle {
    background-color: #009F06;
    border: 2px solid #009F06;
}

!* Checkbox vanished *!
.checkbox {
    display : none;
}*/
#onPass{
    display : none;
}
#on2FA{
    display : none;
}
#showPassView {
    padding: 29px 21px;
    background: #F0F1F3;
    margin-top: 14px;
}
#show2FaView {
    padding: 29px 21px;
    background: #F0F1F3;
    margin-top: 14px;
}
.pass-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-field {
    width: 167.34px;
    height: 32.18px;
    left: 105px;
    top: 338px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.2979px;
    line-height: 143.5%;
    color: #919191;
    padding-left: 13px;
}
.upd-btn {
    width: 100px;
    height: 32px;
    background: #000000;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    padding: 8px;
    cursor: pointer;
}
.auth-field {
    width: 39px;
    height: 28px;
    margin-right: 4px;
}
.field-wrapper-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-authentication {
    width: 75px;
    height: 28px;
    background: #000000;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resend-otp {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 143.5%;
    display: flex;
    align-items: center;
    color: #5400EC;
    justify-content: center;
    margin: 4px 0 0 0;
}
.enabled {
    padding: 3px 4px;
    height: 20px;
    background: #E1F9DD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 143.5%;
    display: flex;
    width: 51px;
    align-items: center;
    color: #1EB636;
    display: none;
}
@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/

    .logo-wrapper {
        width: 30%;
    }

    .hero-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .hero-section {
        background-image: none;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-content {
        padding-top: 30px;
    }

    a.btn.btn-get-start-cta {
        padding: 10px 8px;
    }

    .header-main-ceda {
        padding: 1rem 1rem 1rem 1rem !important;
        align-items: center;
    }

    .currency-exchange-section {
        padding: 30px 0px;
        background-image: none;
    }

    .currency-exchange-image {

        display: block;
        width: 100%;
    }

    .digital-services-image {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .digital-service-section {
        background: #FBF9FC;
        padding: 30px 0px;
        background-image: none;
    }
    .footer-logo{
        margin-bottom: 60px !important
    }
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
    /*******************Header********************/
    .logo-wrapper {
        width: 30%;
    }

    .hero-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .hero-section {
        background-image: none;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-content {
        padding-top: 30px;
    }

    a.btn.btn-get-start-cta {
        padding: 10px 8px;
    }

    .header-main-ceda {
        padding: 1rem 1rem 1rem 1rem !important;
        align-items: center;
    }

    .currency-exchange-section {
        padding: 30px 0px;
        background-image: none;
    }

    .currency-exchange-image {

        display: block;
        width: 100%;
    }

    .digital-services-image {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .digital-service-section {
        background: #FBF9FC;
        padding: 30px 0px;
        background-image: none;
    }
    .footer-logo{
        margin-bottom: 60px !important
    }
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
    /*******************Header********************/
    .logo-wrapper {
        width: 30%;
    }

    .header-main-ceda {
        padding: 1rem 1rem 1rem 1rem;
        align-items: center;
    }
}
